{#

## **Version X.X.X** (YYYY-MMM-DD)

Released DD-MM-YYYY

#}{{

      "## %s (%s)\n" | format(
        release.version.as_semver_tag(),
        release.tagged_date.strftime("%d-%m-%Y")
      )

}}{%  set commit_objects = release["elements"] | dictsort
%}{%  include ".changes.md.j2"
-%}
